<head>
    <link rel="stylesheet" href="choisir-type.component.css" type="text/css">
</head>


<div class="container-layout">
    <div class="content-area">
      <aside class="sidebar-area" role="complementary">
          <nav class="side-navigation" role="navigation">
             <ul class="menu">
                
               <li class="menu-item">
                   <a href="etudiant/remplir-fiche"></a>
               </li><!-- /.menu-item -->
               <li class="menu-item">
                   <a href="etudiant/remplir-fiche">Ajouter un étudiant</a>
               </li><!-- /.menu-item -->
                  <li class="menu-item">
                      <a href="">Ajouter un professeur</a>
                  </li><!-- /.menu-item -->

                  <li class="menu-item">
                    <a href="admin/evaluer-etudiant"> Ajouter information stage</a>
                </li><!-- /.menu-item -->
              
                  <li class="menu-item">
                   <a href="admin/evaluer-etudiant"> Évaluer les stages</a>
               </li><!-- /.menu-item -->
  
              
             </ul><!-- /.menu -->
          </nav><!-- #site-navigation -->
          <div class="container-fluid">
  
             <router-outlet></router-outlet>
         </div>
      </aside><!-- #secondary -->
     
    </div><!-- /.content-area -->


   <section class="main_content">
    <div class="wrapper2">
        <h1> Fixation des Informations de Stage</h1>
        <hr class="line">
        <p> Veuillez fixer la date de début et les compétences requises pour les stages. </p>

        <div class="content-box">
            <div class="card2">
                <i class="fas fa-1x">1</i>
                <h2> Stage Première Année</h2>
                
                <button class="btn-services" type="button">
                    <strong>FIXER</strong>
                    <div id="container-stars">
                      <div id="stars"></div>
                    </div>
                  
              
                  </button>
            </div>

            <div class="card2">
                <i class="fas fa-2x">2</i>

                <h2>Premiere Stage de Deuxième Année</h2>
                
                    <button class="btn-services" type="button">
                        <strong>FIXER</strong>
                        <div id="container-stars">
                          <div id="stars"></div>
                        </div>
                      
                  
                      </button>
            </div>

            <div class="card2"> <i class="fas fa-3x">3</i>

                <h2> Deuxième Stage de Deuxième Année</h2>
                
                <button class="btn-services" type="button">
                    <strong>FIXER</strong>
                    <div id="container-stars">
                      <div id="stars"></div>
                    </div>
                  
              
                  </button>
            </div>

            <div class="card2">
                <i class="fas fa-4x">4</i>

                <h2>Premiere Stage de Troisième Année</h2>
               
                <button class="btn-services" type="button">
                    <strong>FIXER</strong>
                    <div id="container-stars">
                      <div id="stars"></div>
                    </div>
                  
              
                  </button>
            </div>

            <div class="card2">
                <i class="fas fa-5x">5</i>

                <h2> Deuxième Stage de Troisième Année</h2>
               
                <button class="btn-services" type="button">
                    <strong>FIXER</strong>
                    <div id="container-stars">
                      <div id="stars"></div>
                    </div>
                  
              
                  </button>
            </div>

            


        </div>
    </div>



</section>
  </div>