
<head>
    <meta charset="UTF-8">
    <title>Évaluation Étudiant</title>
    <link rel="stylesheet" href="consulter-etudiant.component.css" type="text/css">
</head>

    <div class="evaluation-form-container" style="margin-top:-11cm; margin-left:12cm;">
        <h1 class="form-title">Évaluation Étudiant</h1>
        <form class="evaluation-form" action="submitEvaluation.php" method="post">
            <div class="input-group">
                <label for="student-code">Code Étudiant:</label>
                <input type="text" id="student-code" name="student_code" required>
            </div>
            <button type="submit" class="submit-button">Évaluer</button>
        </form>
    </div>

  

