html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  * {
  
    &,
    &:before,
    &:after {
      box-sizing: inherit;
    }
  
  }
  
  .site-header,
  .site-footer {
      display: flex;
      justify-content:center;
      align-items: center;
  }
  
  .site-header {
    height: 100px;
    background-color: #e7eaed;
  }
  
  .site-footer {
      background-color: #333536;
      height: 200px;
      color: #fff;
  }
  
  
  .content-area {
      display: flex;
  }
      
      .site-main {
          width: 75%;
      }
  
  .sidebar-area {
      background-color: rgb(16, 28, 97);
      position: relative;
      width: 300px;
      height:20cm;
  }
  
  .side-navigation {
  
      &.fixed {
          position: fixed;
          top: 0;
          width: 290px;
      }
  
      &.bottom {
          position: absolute;
          bottom: 0;
          top: auto;
          width: 290px;
      }
  
      .menu {
          padding-top: 15px;
          list-style-type: none;
      }
  
          .menu-item {
              position: relative;
  
  
              &:before {
                  content: '';
                  position: absolute;
                  top: 0;
                  left: 0;
                  bottom: 0;
                  width: 0;
                  background-color: #a5bdde;
                  transition: width .3s ease-in;
              }
  
              &:hover {
                  &:before {
                      width: 100%;
                  }
              }
  
              a {
                font-size: 25px;
                color: #fff;
                text-decoration: none;
                position: relative;
                display: block;
                padding: 30px 80px;
                margin-bottom: 20px; /* Increase this value to add more space between menu items */
              }
          }
  }
