<head>
    <link rel="stylesheet" href="ajout-etudiant.component.css" type="text/css">

    <style>














        </style>
</head>





  
    <div class="container" style="margin-left:14cm; margin-top: -5cm;">
        <h2>Ajouter un étudiant</h2>
        <form id="addStudentForm">
          <div class="form-group">
            <label for="codeEtudiant">Code Étudiant</label>
            <input type="text" id="codeEtudiant" name="codeEtudiant" required>
          </div>
          <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" id="nom" name="nom" required>
          </div>
          <div class="form-group">
            <label for="prenom">Prénom</label>
            <input type="text" id="prenom" name="prenom" required>
          </div>
          <div class="form-group">
            <label for="ville">Ville</label>
            <input type="text" id="ville" name="ville" required>
          </div>
          <div class="form-group">
            <label for="dateNaissance">Date de Naissance</label>
            <input type="date" id="dateNaissance" name="dateNaissance" required>
          </div>
          <div class="form-group">
            <label for="codePostal">Code Postal</label>
            <input type="text" id="codePostal" name="codePostal" required>
          </div>
          <div class="form-group">
            <label for="adresse">Adresse</label>
            <input type="text" id="adresse" name="adresse" required>
          </div>
          <div class="form-group">
            <label for="mention">Mention</label>
            <input type="text" id="mention" name="mention">
          </div>
          <div class="form-group">
            <label for="telephone">Téléphone</label>
            <input type="tel" id="telephone" name="telephone" required>
          </div>
          
          <div class="form-group">
            <label for="anneePromo">Année de Promotion</label>
            <input type="text" id="anneePromo" name="anneePromo" required>
          </div>
          <div class="form-group">
            <button type="submit">Ajouter l'étudiant</button>
          </div>
        </form>
      </div>

