<head>
    <link rel="stylesheet" href="etudiant-setting.component.css" type="text/css">


   
</head>



    <div class="container"  >
    <h2>Paramètres du Compte</h2>
    <!-- Formulaire de changement de mot de passe -->
    <form id="passwordForm">
        <div class="form-group">
            <label for="currentPassword">Email :</label>
            <input type="email"  required>
          </div>
      <div class="form-group">
        <label for="currentPassword">Mot de passe actuel :</label>
        <input type="password" id="currentPassword" required>
      </div>
      <div class="form-group">
        <label for="newPassword">Nouveau mot de passe :</label>
        <input type="password" id="newPassword" required>
      </div>
      <button type="submit" class="btn">Changer le mot de passe</button>
    </form>
    
    <!-- Formulaire de mise à jour des informations de contact -->
    <form id="contactInfoForm">
      <h3>Informations de Contact</h3>
      <div class="form-group">
        <label for="email">Adresse E-mail :</label>
        <input type="email" id="email" required>
      </div>
      <div class="form-group">
        <label for="phone">Numéro de téléphone :</label>
        <input type="tel" id="phone" required>
      </div>
      <button type="submit" class="btn">Mettre à jour</button>
    </form>
    
    <!-- Bouton de déconnexion -->
    <button class="btn btn-logout">Déconnexion</button>
  </div>


