
<head>
    <link rel="stylesheet" href="evaluer-etudiant.component.css" type="text/css">
</head>
<body>
    
            <div class="container">
                <div class="text">
                    Evaluation de Stage
                </div> 
                <form action="#">
                    <div class="form-row">
                        <div class="input-data">
                            <input type="text" required>
                            <div class="underline"></div>
                            <label>La note</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-data textarea">
                            <textarea rows="8" cols="80" required></textarea>
                            <div class="underline"></div>
                            <label>La mention</label>
                        </div>
                    </div>
                    <div class="form-row submit-btn" style="margin-left: 180px;">
                        <div class="input-data">
                            <div class="inner"></div>
                            <input type="submit" value="submit">
                        </div>
                    </div>
                </form>
            </div>
     

