<!DOCTYPE html>
<html>
<head>
  
<style>

body{
        margin-left:10cm ;
    }
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 700px
}

 td, th {
  border: 1px solid #ddd;
 padding: 10px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

th {
  

  background-color: rgb(197, 226, 243);
  color: white;
}
</style>
</head>
<body>


<table id="customers">
  
    <tr>
     
     
        <th>Type de Stage</th>
        <th>Date</th>
      
     
      </tr>
<tr>
 
  
    <td>11</td>
    <td><input type="date"       name="date" ></td>
  
      
  
</tr>
<tr>
 
  
    <td>21</td>
    <td><input type="date"       name="date" ></td>

      
  
</tr>
<tr>
 
  
    <td>22</td>
    <td><input type="date"       name="date" ></td>
    
      
  
</tr>
<tr>
 
  
    <td>31</td>
    <td><input type="date"       name="date" ></td>

      
  
</tr>
<tr>
 
  
    <td>32</td>
    <td><input type="date"       name="date" ></td>
        
      
  
</tr>
</table>
<button type="button" class="btn btn-outline-success">
    <i class="fa fa-check" aria-hidden="true"></i> Enregistrer
  </button>



</body>
</html>