<head>
    <link rel="stylesheet" href="ajout-promo.component.css" type="text/css">
</head>


<div class="container" style="margin-left: 14cm; margin-top: -6cm;">
  <h2>Ajouter une Promotion</h2>
  <form id="addPromotionForm">
      <div class="form-group">
          <label for="anneePromo">Année Promotion</label>
          <input type="text" id="anneePromo" name="anneePromo" [(ngModel)]="anneePromo" required>
      </div>
      <div class="form-group">
          <label for="nombreInscrits">Nombre Inscrits</label>
          <input type="number" id="nombreInscrits" name="nombreInscrits" [(ngModel)]="nombreInscrits" required>
      </div>
      <div class="form-group">
          <label for="nombreRecus">Nombre Reçus</label>
          <input type="number" id="nombreRecus" name="nombreRecus" [(ngModel)]="nombreRecus" required>
      </div>
      <div class="form-group">
          <label for="numeroProfesseur">Numéro Professeur</label>
          <input type="text" id="numeroProfesseur" name="numeroProfesseur" [(ngModel)]="numeroProfesseur" required>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-outline-success" (click)="savePromo()"><i class="fa fa-check" aria-hidden="true"></i><label>Enregistrer </label></button>
    
      </div>
  </form>
</div>