<head>
    <link rel="stylesheet" href="ajout-promo.component.css" type="text/css">
</head>



    <div class="container" style=" margin-left: 14cm;
    margin-top: -6cm;">
        <h2>Ajouter une Promotion</h2>
  <form id="addTeacherForm">
    <div class="form-group">
      <label for="anneepromo">Année Promotion</label>
      <input type="text" id="anneepromo" name="anneepromo" required>
    </div>
    <div class="form-group">
      <label for="nb-inscrit">Nombre Inscrits</label>
      <input type="text" id="nb-inscrit" name="nb-inscrit" required>
    </div>
    <div class="form-group">
      <label for="nb-reçus">Nombres Reçus</label>
      <input type="text" id="nb-reçus" name="nb-reçus" required>
    </div>
    <div class="form-group">
      <label for="num-prof">Numero Professeur</label>
      <input type="text" id="num-prof" name="num-prof" required>
    </div>
    <div class="form-group">
        <button type="submit">Ajouter la promotion</button>
      </div>
  </form>
</div>
