<head>
    <link rel="stylesheet" href="etudiant.component.css" type="text/css">
  
    <script type="text/javascript" >
     /*
  * Fix sidebar at some point and remove
  * fixed position at content bottom
  */
  $(window).scroll(function () {
   var headerHeight = $('.site-header').innerHeight();
   var contentHeight = $('.site-main').innerHeight();
   var sidebarHeight = $('.side-navigation').height();
   var sidebarBottomPos = contentHeight - sidebarHeight; 
   var trigger = $(window).scrollTop() - headerHeight;
  
         if ($(window).scrollTop() >= headerHeight) {
             $('.side-navigation').addClass('fixed');
         } else {
             $('.side-navigation').removeClass('fixed');
         }
  
         if (trigger >= sidebarBottomPos) {
             $('.side-navigation').addClass('bottom');
         } else {
             $('.side-navigation').removeClass('bottom');
         }
  });
    </script>
  </head>
   <body style=" background-color: #f0f8ff;">
  
  
     <div class="content-area">
        <aside class="sidebar-area" role="complementary">
            <nav class="side-navigation" role="navigation">
                <ul class="menu">
                    
                    <li class="menu-item">
                        <a href="etudiant/depot-fiche" routerLinkActive="active">Fiche de Stage</a>
                    </li>
                    <li class="menu-item">
                        <a href="etudiant/depot-stage" routerLinkActive="active">Dépôt de Stage</a>
                    </li>
                    <li class="menu-item">
                        <a href="etudiant/evaluation-de-stage" routerLinkActive="active">Évaluation de Stage</a>
                    </li>
                    <li class="menu-item">
                        <a href="etudiant/profil-et-parametres" routerLinkActive="active">Profil & Paramètres</a>
                    </li>
                </ul>
            </nav>
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </aside>
    </div><!-- /.content-area -->

</body>