<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="remplir-fiche.component.css" type="text/css">

    <title>Document</title>
</head>
<body>
         
    <div class="container">
        <div class="text">
  Remplir la fiche
        </div>
       </div>
<div class="row  ">
  
 
    <div class="mx-auto">
         
   
                   
               <table align="center" border="1" class="table" >
                    <tr><th><strong>Entrprise</strong></th><td><input type="text"></td></tr>
                    <tr><th><strong>Description</strong></th><td><input type="text"></td></tr>
                     <tr><th><strong>projet</strong></th><td><input type="text"></td></tr>
                    <tr><th><strong>tuteur</strong></th><td><input type="text"></td></tr>
                    <tr><th><strong>Type de stage</strong></th><td><input type="text"></td></tr>
                    
           </table>
           
           
         
        </div>
        
    </div>


    <tr class="mx-auto"><td>   <button type="button" class="btn btn-outline-success">
        <i class="fa fa-check" aria-hidden="true"></i> Envoyer
      </button></td>
   </tr>

  


  </body>
</html>