 
  




  .titre {
    font-size: 50px;
    color: rgb(7, 26, 61);
    font-weight: bold;
    margin-left: 200px;
    margin-bottom: -50px;
   width: 500px;
   
}




  


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:     #a5bdde ;/*#add8e6;*/ /* Bleu pastel */
    color: #333333;
   
    margin-left:12cm;
    margin-top: 2cm;
   
}

.group:after {
    content: "";
    display: block;
    clear: both;
  }
  
  .landing-page {
    width: 882px;
    margin: 100px auto 0;  
  }
  
  .landing-page *,
  .landing-page *:before,
  .landing-page *:after {
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box; 
  }
  
  .landing-page .module {
      border: 1px solid #B0C4DE;
      border-radius: 4px;
      float: left;
      padding: 2em;
      width: 48%;
  }
  
  .landing-page .module > *:last-child,
  .landing-page .module > *:last-child > *:last-child,
  .landing-page .module > *:last-child > *:last-child > *:last-child {
      margin: 0;
      padding: 0;
  }
  
  .landing-page .note {	
      background-color: rgb(236, 248, 236);
      border: 1px dashed;	
      border-radius: 4px;	
      color: rgb(100, 119, 183);
      font-family: georgia;	
      font-size: .9em;
      font-style: italic;
      margin: 20px auto;
      padding: 2em;
  }
  
  .form-appointment {
    padding: 2em;
    background-color: #f0f8ff;
    border-radius: 4px;
    border: 1px solid rgb(16, 28, 97);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
    font-family: 'PT Sans', Arial, sans-serif;
    margin: 20px auto;
    width: auto; /* Adjust width as needed */
}

  
  .form-appointment input[type=text],
  .form-appointment input[type=email],
  .form-appointment input[type=tel],
  .form-appointment input[type=number],
  .form-appointment textarea {	
      border: 1px solid rgb(7, 26, 61);
      border-radius: .2em;	
      font-family: 'PT Sans', Arial, sans-serif;
      font-size: 1.1em;
      padding: .4em 1em;
      margin: 0 0 .8em;
      width: 100%;
    box-shadow: 0 0 8px rgba(0,0,0,.08) inset;
  }
  
  .form-appointment input,
  .form-appointment input,
  .form-appointment input,
  .form-appointment input[type=submit],
  .form-appointment textarea {	
      -webkit-transition: all .2s ease-in-out;
         -moz-transition: all .2s ease-in-out;
              transition: all .2s ease-in-out;
  }
  
  .form-appointment input[type=text]:active,
  .form-appointment input[type=text]:focus,
  .form-appointment input[type=email]:active,
  .form-appointment input[type=email]:focus,
  .form-appointment input[type=tel]:active,
  .form-appointment input[type=tel]:focus,
  .form-appointment input[type=number]:active,
  .form-appointment input[type=number]:focus,
  .form-appointment textarea:active,
  .form-appointment textarea:focus {	
    outline: 0;
    box-shadow: 0 0 6px rgb(98, 126, 188);
  }
  
  .form-appointment textarea {
      height: 160px;
  }
  
  .form-appointment input[type=submit] {
    background-color: #003366; /* Dark blue background for the button */
    color: #ffffff; /* White text for the button */
    padding: 8px 12px; /* Smaller padding */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8em; /* Smaller font size */
    width: auto; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
    transition: background-color 0.3s ease;
  }
  
  .form-appointment input[type=submit]:hover {
      background-color: #c5d4ea;
      color: #160c44;
      font-weight: 800px;
  }
  
  
 
.submit-button:hover {
    background-color: #012a4a; /* Slightly darker blue on hover */
}
  #entreprise .NiceInput {
      
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  
  #entreprise .NiceInput label {
    margin-bottom: 5px;
  }
  
  
  #entreprise  input {
      border: 1px solid rgb(7, 26, 61);
      border-radius: .2em;	
      font-family: 'PT Sans', Arial, sans-serif;
      font-size: 1.1em;
      padding: .4em 1em;
      margin: 0 0 .8em;
      width: 100%;
    box-shadow: 0 0 8px rgba(0,0,0,.08) inset;
  }
  
  #prof-encadrant input {
      border: 1px solid rgb(7, 26, 61);
      border-radius: .2em;	
      font-family: 'PT Sans', Arial, sans-serif;
      font-size: 1.1em;
      padding: .4em 1em;
      margin: 0 0 .8em;
      width: 100%;
    box-shadow: 0 0 8px rgba(0,0,0,.08) inset;
  }
  
  
  #tuteur input {
      border: 1px solid rgb(7, 26, 61);
      border-radius: .2em;	
      font-family: 'PT Sans', Arial, sans-serif;
      font-size: 1.1em;
      padding: .4em 1em;
      margin: 0 0 .8em;
      width: 100%;
    box-shadow: 0 0 8px rgba(0,0,0,.08) inset;
  }
  
  #i-telephone-etudiant {
      border: 1px solid rgb(7, 26, 61);
      border-radius: .2em;	
      font-family: 'PT Sans', Arial, sans-serif;
      font-size: 1.1em;
      padding: .4em 1em;
      margin: 0 0 .8em;
      width: 100%;
    box-shadow: 0 0 8px rgba(0,0,0,.08) inset;
  }
  
  .rightTab {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .rightTab label {
    margin-bottom: 5px; /* Add some spacing between the label and the select */
  }
  
  
  legend {
    font-size: 2em; /* Increased font size */
    color: #160c44;
    margin-bottom: 10px; /* Added margin for spacing */
}
  
  
  
  .form-appointment .wpcf7-list-item-label {
      color: rgb(17, 23, 39);
  }
  
  span.wpcf7-list-item {
      display: block;
      margin-left: -.02em;
  }
  
  input[type=submit] {
    font-size: 0.3em; /* Smaller text size */
    padding: 5px 6px; /* Smaller padding */
}
  
  
  
  
