
<head>
    <meta charset="UTF-8">
    <title>Exemple de formulaire dynamique</title>
    <link rel="stylesheet" href="fiche-stage.component.css" type="text/css">
</head>
<body>
        
    <h1 class="titre"> Ajouter information</h1>
    <div class="landing-page">
        <div class="form-appointment">
    
            <!-- entreprise form -->
            <form method="get" action="SubmitEntreprise.html">
                <fieldset>
                    <legend>Entreprise</legend>
                    <div class="NiceInput">
                        <label for="num-siret">Numéro Siret:</label>
                        <input type="text" id="num-siret" name="num_siret"  [(ngModel)]="numSiret"  required maxlength="20">
                    </div>
                    <div class="NiceInput">
                        <label for="forme-juridique">Forme Juridique:</label>
                        <input type="text" id="forme-juridique" name="forme_juridique"   [(ngModel)]="formeJuridique" required maxlength="20">
                    </div>
                    <div class="NiceInput">
                        <label for="raison-sociale">Raison Sociale:</label>
                        <input type="text" id="raison-sociale" name="raison_sociale"   [(ngModel)]="raisonSociale"  required maxlength="20">
                    </div>
                    <div class="NiceInput">
                        <label for="adresse">Adresse:</label>
                        <input type="text" id="adresse" name="adresse"   [(ngModel)]="adresse" required maxlength="50">
                    </div>
                   
                    <div class="NiceInput">
                        <label for="ville">Ville:</label>
                        <input type="text" id="ville" name="ville"   [(ngModel)]="ville" required maxlength="10">
                    </div>
                    <div class="NiceInput">
                        <label for="telephone">Téléphone:</label>
                        <input type="tel" id="telephone" name="telephone"   [(ngModel)]="telephone" required maxlength="10">
                    </div>
                    <div class="NiceInput">
                        <label for="fax">Fax:</label>
                        <input type="text" id="fax" name="fax"   [(ngModel)]="fax" required maxlength="10">
                    </div>
                    
                    
                </fieldset>
                <div>
                    <input type="submit"(click)="saveEntreprise()" value="Envoyer Entreprise">
                </div>
            </form>
    
            <!-- Tuteur form -->
            <form method="get" action="SubmitTuteur.html" class="hidden" id="Tuteur">
                <fieldset>
                    <legend>Tuteur</legend>
                    <div class="NiceInput">
                        <label for="num-tuteur">Numéro Tuteur:</label>
                        <input type="text" id="num-tuteur" name="num_tuteur"   [(ngModel)]="numTuteur" required maxlength="10">
                    </div>
                    <div class="NiceInput">
                        <label for="nom-tuteur">Nom:</label>
                        <input type="text" id="nom-tuteur" name="nom_tuteur"  [(ngModel)]="nom"  required maxlength="10">
                    </div>
                    <div class="NiceInput">
                        <label for="prenom-tuteur">Prénom:</label>
                        <input type="text" id="prenom-tuteur" name="prenom_tuteur"   [(ngModel)]=" prenom" required maxlength="10">
                    </div>
                    <div class="NiceInput">
                        <label for="telephone-tuteur">Téléphone:</label>
                        <input type="tel" id="telephone-tuteur" name="telephone_tuteur"   [(ngModel)]="telephone2" required maxlength="10">
                    </div>
                    <div class="NiceInput">
                        <label for="n-siret-tuteur">N° Siret (Entreprise):</label>
                        <input type="text" id="n-siret-tuteur" name="n_siret_tuteur"   [(ngModel)]="nSiretTuteur" required maxlength="20">
                    </div>
                   
                </fieldset>
                <div>
                    <input type="submit" (click)="saveTuteur()" value="Envoyer Tuteur">
                </div>
            </form>
    
            <!--    Stage form -->
            <form method="get" action="SubmitStage.html" class="hidden"    id="stage">
                <fieldset>
                    <legend>Stage</legend>
                    <div class="NiceInput">
                        <label for="num-stage">Numéro de Stage:</label>
                        <input type="text" id="num-stage" name="num_stage"   [(ngModel)]="numStage" required maxlength="20">
                    </div>
                    <div class="NiceInput">
                        <label for="compte-rendu">Compte Rendu:</label>
                        <input type="text" id="compte-rendu" name="compte_rendu"   [(ngModel)]="compteRendu" maxlength="20">
                    </div>
                    <div class="NiceInput">
                        <label for="num-prof">Numéro Professeur:</label>
                        <input type="text" id="num-prof" name="num_prof"   [(ngModel)]="numProf"  required maxlength="20">
                    </div>
                    <div class="NiceInput">
                        <label for="code-etudiant">Code Étudiant:</label>
                        <input type="text" id="code-etudiant" name="code_etudiant"   [(ngModel)]="codeEtudiant" required maxlength="50">
                    </div>
                    <div class="NiceInput">
                        <label for="num-tuteur-stage">Numéro Tuteur:</label>
                        <input type="text" id="num-tuteur-stage" name="num_tuteur"   [(ngModel)]="numTuteurStage" required maxlength="10">
                    </div>
                    <div class="NiceInput">
                        <label for="n-siret-stage">N° Siret (Entreprise):</label>
                        <input type="text" id="n-siret-stage" name="n_siret"   [(ngModel)]="nSiretStage"  required maxlength="20">
                    </div>

                    <div class="NiceInput">
                        <label for="code-type">Code Type:</label>
                        <input type="text" id="code-type" name="code_type"   [(ngModel)]="codeType" required maxlength="10">
                    </div>
                    
                    <div class="NiceInput">
                        <label for="annee-stage">Année:</label>
                        <input type="text" id="annee-stage" name="annee"   [(ngModel)]="anneeStage" required maxlength="4">
                    </div>
                  
                </fieldset>
                <div>
                    <input type="submit" (click)="saveStage()"value="Envoyer Stage">
                </div>
            </form>
    
            
    
        </div>
    </div>
    
            

