
<head>
    <meta charset="UTF-8">
    <title>Évaluation Étudiant</title>
    <link rel="stylesheet" href="choisir-etudiant-evaluer.component.css" type="text/css">
</head>

    <div class="evaluation-form-container">
        <h1 class="form-title">Evaluer Étudiant</h1>
        <form class="evaluation-form" action="submitEvaluation.php" method="post">
            <div class="input-group">
                <label for="student-code">Code Étudiant:</label>
                <input type="text" id="student-code" name="student_code" required>
            </div>
            <button type="submit" class="submit-button" href="encadrant\choisir-etudiant\evaluer-etudiant">Evaluer</button>
        </form>
    </div>


