
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fixation des Informations de Stage</title>
    <link rel="stylesheet" href="fixer-stage.component.css" type="text/css">
    <style>
      
    </style>
    </head>
   

    <section class="main_content">
        <h2 class="titre">Fixer information stage</h2>
    
        <!-- Premier Formulaire -->
        <div class="landing-page">
            <div class="form-appointment">
                <form method="get" action="SubmitForm1.html">
                    <fieldset>
                        <legend>Information Stage - Compétance</legend>
                        <div class="NiceInput">
                            <label>Type de Stage :</label>
                            <input type="text" id="typeStage1" name="typeStage" [(ngModel)]="typeStage1" required>
                        </div>
                        <div class="NiceInput">
                            <label>Code de Compétence :</label>
                            <input type="text" id="codeCompetence" name="codeCompetence" [(ngModel)]="codeComp" required>
                        </div>
                        <div class="NiceInput">
                            <label>Niveau Exigé :</label>
                            <input type="text" id="niveauExige" name="niveauExige" [(ngModel)]="nv" required>
                        </div>
                        <div>
                            <p>
                                <input class="submit-button" type="submit" (click)="saveAcquerir()" value="Envoyer ">
                                <input type="reset" value="Annuler">
                            </p>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    
        <!-- Deuxième Formulaire -->
        <div class="landing-page">
            <div class="form-appointment">
                <form method="get" action="SubmitForm2.html">
                    <fieldset>
                        <legend>Information Stage - Date</legend>
                        <div class="NiceInput">
                            <label>Type de Stage :</label>
                            <input type="text" id="typeStage2" name="typeStage" [(ngModel)]="typeStage2" required>
                        </div>
                        <div class="NiceInput">
                            <label>Année :</label>
                            <input type="number" id="annee" name="annee" [(ngModel)]="annee" required>
                        </div>
                        <div class="NiceInput">
                            <label>Date de Début :</label>
                            <input type="date" id="startDate2" name="startDate" [(ngModel)]="dateDebut" required>
                        </div>+
                        <div>
                            <p>
                                <input class="submit-button" type="submit" (click)="saveAssocier()" value="Envoyer ">
                                <input type="reset" value="Annuler">
                            </p>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
    

    <script type="text/javascript">
        function ActiverEnfants() {
            document.getElementById("enfants").classList.toggle("hidden");
        }

        var comp_count = 2;
        function AjoutEnfant() {
            var codeComp = document.querySelector("[name='code-e" + (comp_count - 1) + "']").value;
            var LibelleComp = document.querySelector("[name='libelle-e" + (comp_count - 1) + "']").value;
            var descriptionComp = document.querySelector("[name='description-e" + (comp_count - 1) + "']").value;
            if (codeComp.length > 0 && LibelleComp.length > 0 && descriptionComp.length > 0) {
                var tr = document.createElement("tr");
                var td1 = document.createElement("td");
                tr.appendChild(td1);
                td1.appendChild(document.createTextNode("Compétance n°" + comp_count));
                var td2 = document.createElement("td");
                tr.appendChild(td2);
                var input1 = document.createElement("input");
                input1.type = "text";
                input1.name = "code-e" + comp_count;
                td2.appendChild(input1);
                var td3 = document.createElement("td");
                tr.appendChild(td3);
                var input2 = document.createElement("input");
                input2.type = "text";
                input2.name = "libelle-e" + comp_count;
                td3.appendChild(input2);
                var td4 = document.createElement("td");
                tr.appendChild(td4);
                var input3 = document.createElement("input");
                input3.type = "text";
                input3.name = "description-e" + comp_count;
                td4.appendChild(input3);

                var table_enfants = document.querySelector("#enfants tbody");
                table_enfants.appendChild(tr);

                comp_count++;
            } else {
                alert("Veuillez remplir les informations des autres compétances d'abord");
            }
        }

        var boutonAjoutEnfant = document.getElementById("add");
        boutonAjoutEnfant.addEventListener("click", AjoutEnfant);

        var boutonEnvoyer = document.querySelector("[id=submit]");
        boutonEnvoyer.addEventListener("click", VerifMail);

        document.querySelector("#enfants tbody tr").deleteRow(-1);
    </script>
