<head>
    <link rel="stylesheet" href="ajout-prof.component.css" type="text/css">
</head>



    <div class="container" style=" margin-left: 14cm;
    margin-top: -2cm;">
        <h2>Ajouter un Professeur</h2>
  <form id="addTeacherForm">
  
    <div class="form-group">
      <label for="nom">Nom</label>
      <input type="text" id="nom" name="nom"  [(ngModel)]="nom"  required>
    </div>
    <div class="form-group">
      <label for="prenom">Prénom</label>
      <input type="text" id="prenom" name="prenom" [(ngModel)]="prenom"  required>
    </div>
    <div class="form-group">
      <label for="adresse">Adresse</label>
      <input type="text" id="adresse" name="adresse"  [(ngModel)]="adresse" required>
    </div>
   
    <div class="form-group">
      <label for="ville">Ville</label>
      <input type="text" id="ville" name="ville"  [(ngModel)]="ville"  required>
    </div>
    <div class="form-group">
      <label for="telEcole">Téléphone École</label>
      <input type="tel" id="telEcole" name="telEcole" [(ngModel)]="telEcol"  required>
    </div>
    <div class="form-group">
      <label for="telDomicile">Téléphone Domicile</label>
      <input type="tel" id="telDomicile" name="telDomicile" [(ngModel)]="telDom"   required>
    </div>
    <div class="form-group">
      <label for="dateEmbauche">Date d'Embauche</label>
      <input type="date" id="dateEmbauche" name="dateEmbauche"  [(ngModel)]="dateE"  required>
    </div>
    <div class="form-group">
      <label for="dateDepart">Date de Départ</label>
      <input type="date" id="dateDepart" name="dateDepart" [(ngModel)]="dateD" >
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-outline-success" (click)="saveProf()"><i class="fa fa-check" aria-hidden="true"></i><label>Enregistrer </label></button>
    </div>
  </form>
</div>